{
  "parser": "@babel/eslint-parser",
  "extends": "airbnb-base",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-console": 0
  },
  "env": {
    "browser": true
  }
}
