// Page typography
@include fontFace('Kdam', 'KdamThmorPro-Regular', '400', 'normal');

html {
  font: 42px / 110% 'Kdam';
}

@include fontFace('Joan', 'Joan-Regular', '400', 'normal');

.block3 {
  width: 300px;
  height: 200px;
  background-color: lightblue;
  color: black;
  font-family: 'Joan';
}